<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="UTF-8">
<div data-role="page" id="CameraPage">
	<script type="text/javascript">
		$("#CameraPage").on("pageinit", function() {
			getImageList();

			$("#edit").click(function() {
				//alert("편집창으로 이동");
				$.stageComponent.pageMove("camera_edit.html", {});
			});

		});
		function getImageList() {
			var url = $.stage.restPool.GET_USER_PHOTO_ALBUM;
			var params = {
				userId : 'pkh1022',
				listIndex : 0,
				listCount : 20
			};
			$.stage.ajax.getJson(url, params, function(data) {
				for ( var a = 0; a < 20; a++) {
					if (data.list[a] == null)
						break;
					$("<img>").appendTo("#img_space").attr("src",
							data.list[a].photoUrl).attr("width", '30%').attr(
							"height", '30%').attr("alt", "앨범");
					//	$("<p>").appendTo("#img_space").text(data.list[a].photoUrl);

				}

			}, true);
		}
	</script>
	<style>
#content {
	padding: 10px;
	text-align: justify;
}

img {
	cursor: pointer;
	margin: 5px;
}

</style>
	<header data-role="header" data-position="fixed">
		<a href="#" data-role="button" data-icon="star" id="edit">편집</a> <a
			href="#" data-role="button" data-icon="arrow-d" data-iconpos="notext"
			id="list">목록</a>

		<h1>블로그_앨범</h1>

	</header>

	<div id="content">
		<div id="img_space"></div>
	</div>

	<footer data-role="footer" data-position="fixed">
		<h1>하단</h1>
	</footer>

</div>