<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="UTF-8">
<div data-role="page" id="talkSubListPage">
	<script type="text/javascript">
	
		$("#talkSubListPage").on("pageinit", function() {
			var img_data;

			getImage();
			$('#loading').hide();
			$("#back").click(function() {
				$.stageComponent.pageMove("camera.html", {});
			});

			$("#space .photo").live("click", function() {
				$(this).unbind('click'); // 중복클릭 막기.
				$(this).unbind('click'); // 중복클릭 막기.
				if (this.id == "img_1")
					getImageFile();
				else {
					//$(this).toggleClass('delete_img_chose');
					var answer = confirm("삭제할까요?");
					if (answer == true) {
						deleteImage(this.id);
						$('#loading').show();
					}

				}
			});
			$(document).bind("flickrUploadFinish", function() {
				var post_url = $.stage.restPool.POST_USER_PHOTO_ALBUM;
				var post_params = {
					userId : 'pkh1022',
					photoUrl : FI.photoURL,
					thumnail : FI.thumbnailUrl
				};
				$.stage.ajax.postJson(post_url, post_params, function(data) {
					;
				}, true);

				addImage(FI.photoURL);

			});
		});
		function getImage() {
			
			$("#space").html('<img src="gravatar.jpg" id="img_1" class=photo width="30%" height="30%" />');
			
			var get_url = $.stage.restPool.GET_USER_PHOTO_ALBUM;
			var get_params = {
				userId : 'pkh1022',
				listIndex : 0,
				listCount : 20
			};
			$.stage.ajax.getJson(get_url, get_params, function(data) {
				img_data = data;
				for ( var a = 0; a < 20; a++) {
					if (data.list[a] == null)
						break;
					$("<img>").appendTo("#space").attr("src",
							data.list[a].photoUrl).attr("width", '30%').attr(
							"height", '30%').attr('class', 'photo').attr('id',
							a);
				}
			}, true);
		}
		function addImage(URI) {
			$("<img>").appendTo("#space").attr("src", URI).attr("width", '30%')
					.attr("height", '30%').attr('class', 'photo');
			$('#loading').hide();

		}

		function getImageFile() {
			navigator.camera.getPicture(function(URI) {
				FI.imageURI = URI;
				var answer = confirm("사진을 올릴까요?");
				if (answer == true){
					proc();
					$('#loading').show();
				}
			}, function(message) {
				FI.imageURI = "";
				FI.photoURL = "";
				FI.frob = "";
			}, {
				quality : 50,
				destinationType : navigator.camera.DestinationType.FILE_URI,
				sourceType : navigator.camera.PictureSourceType.PHOTOLIBRARY
			});
		}

		function deleteImage(index) {
			var get_url = $.stage.restPool.GET_USER_PHOTO_ALBUM;
			var get_params = {
				userId : 'pkh1022',
				listIndex : 0,
				listCount : 20
			};
			var delete_idx = img_data.list[index].idx;
			deleteImageFile(delete_idx);
		}

		function deleteImageFile(delete_idx) {
			var delete_url = $.stage.restPool.DELETE_USER_PHOTO_ALBUM;
			var idx = delete_idx;
			delete_url += idx;
			var delete_params = {
				userId : 'pkh1022'

			};
			$.stage.ajax.postJson(delete_url, delete_params, function(data) {
				alert("삭제 완료");
				$('#loading').hide();
				getImage();
			}, true);

		}
	</script>
	<style>
#content {
	padding: 1%;
}

img {
	cursor: pointer;
	margin: 1.5%;
}

#loading {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: block;
	opacity: 0.7;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loading-image {
	position: absolute;
	top: 40%;
	left: 40%;
	z-index: 100;
}
</style>
	<header data-role="header" data-position="fixed">
		<a href="#" data-role="button" data-icon="forward" id="back">뒤로</a>
		<h1>블로그_편집</h1>
	</header>

	<div id="content">
		<div id="loading">
			<img id="loading-image" src="../../../libs/images/ajax-loader.gif" alt="Loading..." />
		</div>
		<div id="space">
			<img src="gravatar.jpg" id="img_1" class=photo width="30%"
				height="30%" />
		</div>
	</div>

	<footer data-role="footer" data-position="fixed">
		<h1>하단</h1>
	</footer>

</div>