<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="UTF-8">

<div data-role="page" id="wallPage">
	<script type="text/javascript">
		$("#wallPage").on("pageinit",function() {
					var pageParams = $.stageComponent.pageParam();

					var currentLoginId = $.stage.component.getSession();
					console.log("userID : " + currentLoginId.userId);

					getInforList();

		});
		function getInforList(){
			var url = $.stage.restPool.GET_USER_INFORM;
			var currentLoginId = $.stage.component.getSession();
			var params = {
				userId : 'qwerim'
			};
			$.stage.ajax.getJson(url, params, function(data) {
				for ( var a = 0; a < 20; a++) {
					if (data.list[a] == null)
						break;
					$("<img>").appendTo("#img_space").attr("src",
							data.list[a].photoUrl).attr("width", '30%').attr(
							"height", '30%').attr("alt", "앨범" + (a + 1));

				}
			/*	var myPhotoSwipe = $("#img_space img").photoSwipe({
					enableMouseWheel : false,
					enableKeyboard : false
		
				console.log("여기요 : " + options.originalImages[0].src);
*/
				var options = {};
				$("#img_space img").photoSwipe(options);
				//console.log("여기요 : " + options.originalImages[0].src);
				
				
			}, true);
		}
	</script>

	<header data-role="header" data-position="fixed">
		<a href="#" data-role="button" data-icon="star" id="edit">편집</a> <a
			href="#" data-role="button" data-icon="arrow-d" data-iconpos="notext"
			id="list">목록</a>

		<h1>담벼락</h1>

	</header>

	<div id="content"></div>

	<footer data-role="footer" data-position="fixed">
		<h1>하단</h1>
	</footer>

</div>