<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="UTF-8">

<div data-role="page" id="wallPage">
	<script type="text/javascript">
	var increaseNumber;
	$("#wallPage").on("pageinit", function() {
		var pageParams = $.stageComponent.pageParam();
		var currentLoginId = $.stage.component.getSession();
		
		increaseNumber=0;
		
		console.log("userID : " + currentLoginId.userId);
		$("#title").html("@"+currentLoginId.userId);
		getInforList(0);
			//	$("#back").click(function() {
			//		$.stageComponent.pageMove("../talk/talkList.html",{}, currentLoginId.userId);
			//		});
		$("#submitButton").bind("click", function() {
			var text = $("#insertText").val();
			if (text == "" || text == " ")
				;
			else
				setInforList(text);

		});
		$("#content .mine").live("click", function() {
			if(currentLoginId.userId == 'testimage' || currentLoginId.userId == this.id){
				
				var answer = confirm("선택한 글을 삭제할까요?");
				if(answer==true){
					$(this).remove();
					deleteSeleteWall(this.id);
				}
			}else{
				alert("권한이 없습니다.");

			}
		});
		$("#content .others").live("click", function() {
			if(currentLoginId.userId == 'testimage' || currentLoginId.userId == this.id){
				
				var answer = confirm("선택한 글을 삭제할까요?");
				if(answer==true){
					$(this).remove();
					deleteSeleteWall(this.id);
				}
			}else{
				alert("권한이 없습니다.");
			}
		});
		$("#list").bind("click",function(){
			if(currentLoginId.userId == 'testimage'){
				var answer = confirm("모두 삭제할까요?");
				if(answer==true)
					deleteAllWall();
			}else{
				alert("권한이 없습니다.");
			}	
		});
		
	});
	
		//리스트 가져오기 처음 시작할때
		function getInforList(start) {
			
			var inforUrl = $.stage.restPool.GET_USER_INFORM;
			var currentLoginId = $.stage.component.getSession();
			var url = "http://specificconcept.cafe24.com/rest/userWall";

			var params = {
				userId : 'testimage',
				listIndex : start,
				listCount : 10
			};

			$.stage.ajax.getJson(url,params,function(data) {
			
				for ( var a = 0; a < 10; a++) {
					if (data.list[a] == null)
						break;
					listLoad(data.list[a].writerId, a ,data);
					
					}
				
				}, true);
			$.mobile.hidePageLoadingMsg();
			}
		
		//리스트 추가시키는것...
		function listLoad(writerId,count,information){
		
			$.mobile.showPageLoadingMsg("b", "loading...", true);
			var currentLoginId = $.stage.component.getSession();
			var writerImage;
			
			var inforUrl = $.stage.restPool.GET_USER_INFORM;
			var writerParams = {
					userId : writerId
					};
		
			var ids = information.list[count].idx+"/"+information.list[count].userId+"/"+information.list[count].writerId;
			$.stage.ajax.getJson(inforUrl,writerParams,function(data) {
				writerImage = data.data.thumnail;

				if (currentLoginId.userId == information.list[count].writerId) {
				
					$("<li class='mine' "+"id="+ids+">").appendTo("#wallList").html(
							'<img src='+ writerImage  +' id='+information.list[count].writerId+'>'
							+ 'WriterId: '
							+ information.list[count].writerId
							+ ' <br/>Comment: '
							+ information.list[count].comment);
					} else {
					$("<li class='others' "+"id="+ids+">").appendTo("#wallList").html(
							'<img src='+ writerImage+'>'
							+ 'WriterId: '
							+ information.list[count].writerId
							+ ' <br/>Comment: '
							+ information.list[count].comment);
					}
				$("#wallList").listview("refresh");
				$.mobile.hidePageLoadingMsg();
				}, true);
		
		}

		function setInforList(content) {
			$.mobile.showPageLoadingMsg("b", "loading...", true);
			var currentLoginId = $.stage.component.getSession();
			var url = "http://specificconcept.cafe24.com/rest/userWall";
			var params = {
				userId : 'testimage',
				writerId : currentLoginId.userId,
				comment : content
			};
			$.stage.ajax.postJson(url, params, function(data) {
				$("#wallList").html("<li data-role='list-divider' id = 'title'></li>");
				$("#title").html("@"+currentLoginId.userId);
				$("#wallList").listview("refresh");
				$("#insertText").val("");
				getInforList(0);
			}, true);
		}

		// 더보기 기능
		function addInforList() {
			increaseNumber+=10;
			getInforList(increaseNumber);

		}
		function deleteSeleteWall(ids){
			var currentLoginId = $.stage.component.getSession();
			$.mobile.showPageLoadingMsg("b", "loading...", true);
			var index = ids.split("/");
			deleteWall(index[0],index[1],index[2]);
			//idx userId writerId
			$.mobile.hidePageLoadingMsg();
		
		}
		function deleteAllWall(){
			var currentLoginId = $.stage.component.getSession();
			$.mobile.showPageLoadingMsg("b", "loading...", true);
			var get_url = "http://specificconcept.cafe24.com/rest/userWall/";
			var get_params = {
					userId : 'testimage',
					listIndex : 0,
					listCount : 100
				};

				$.stage.ajax.getJson(get_url,get_params,function(data) {
				
					for ( var a = 0; a < 100; a++) {
						if (data.list[a] == null)
							break;
						deleteWall(data.list[a].idx, data.list[a].userId, data.list[a].writerId);
						}
						
					}, true);
				$.mobile.hidePageLoadingMsg();
				var array=$("#wallList").children();
				$(array).remove();
				$("<li data-role='list-divider' id='title'>").appendTo("#wallList").html("@"+currentLoginId.userId);
				$("#wallList").listview("refresh");

				
		}
		
		function deleteWall(id,user,writer){
			var delete_url = "http://specificconcept.cafe24.com/rest/userWall/delete/";
			delete_url+=id;
			var delete_params = {
					userId : user,
					writerId : writer
			};
			
			$.stage.ajax.postJson(delete_url,delete_params,function(data) {
				
			},true);
		}
		
	$(window).scroll(function() {

		if ($(window).scrollTop() == $(document).height()- $(window).height()) 
		{
			$.mobile.showPageLoadingMsg("b", "loading...", true);
			addInforList();
			}
		});
	</script>


	<style>
#textInsert {
	
}

#content {
	
}

.others {
	text-align: left;
}

.mine {
	text-align: right;
}

#insertText {
	display: inline;
	width: 70%;
	size: 70%;
}

#submitButton {
	display: inline;
}
</style>
	<header data-role="header" data-position="fixed">
		<a href="#" data-role="button" data-icon="star" id="back">뒤로</a> <a
			href="#" data-role="button" data-icon="arrow-d" data-iconpos="notext"
			id="list">목록</a>

		<h1>담벼락</h1>

	</header>

	<div id="content">
		<ul data-role="listview" id="wallList">
			<li data-role='list-divider' id="title"></li>
		</ul>
	</div>

	<footer data-role="footer" data-position="fixed">
		<input type="text" id="insertText" value="" /> <input type="button"
			id="submitButton" value="전송" />
		<h1>하단</h1>
	</footer>

</div>