<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta charset="UTF-8">

<div data-role="page" id="wallPage">
	<script type="text/javascript">
		$("#wallPage").on("pageinit",function() {
					var pageParams = $.stageComponent.pageParam();
					var currentLoginId = $.stage.component.getSession();
				
					console.log("userID : " + currentLoginId.userId);

				//	getInforList();
					$("#back").click(function() {
						$.stageComponent.pageMove("cameraEdit.html",{}, currentLoginId.userId);
						});

		});
		function getInforList(){
		/*	var url = $.stage.restPool.GET_USER_INFORM;
			var currentLoginId = $.stage.component.getSession();
			var params = {
				userId : 'testimage'
			};
			$.stage.ajax.getJson(url, params, function(data) {
				for ( var a = 0; a < 20; a++) {
					if (data.list[a] == null)
						break;			
				}
				
			}, true);*/
		}
	</script>

	<header data-role="header" data-position="fixed">
		<a href="#" data-role="button" data-icon="star" id="back">뒤로</a> <a
			href="#" data-role="button" data-icon="arrow-d" data-iconpos="notext"
			id="list">목록</a>

		<h1>담벼락</h1>

	</header>

	<div id="content">
		<ul data-role="listview">
			<li>AppleM</li>
			<li>bbbbbb</li>
			<li>ccccc</li>
		</ul>
	</div>

	<footer data-role="footer" data-position="fixed">
		<h1>하단</h1>
	</footer>

</div>