<meta charset="UTF-8">
<div data-role="page" id="partyListPage">
	<link rel="stylesheet" type="text/css" href="partyList.css">
	<script id="partyItemTpl" type="text/x-jquery-tmpl">
    <li data-messageId=${idx} id='partyItem_${idx}' >
		
			<img src="${thumbnail}">
	<div>
			<h3>${partyName}</h3>
			<p><strong>${location} ${clubName}</strong></p>
			<p class ="orgListDate">${openDate}</p>
			<p><strong>${persons}</strong></p>
		</div>
	</li>
</script>

	<script type="text/javascript">
	
	
		$("#partyListPage").on("pageinit", function(){
			
			$.stageComponent.listview("partyList","partyItemTpl",$.stageRestPool.GET_PARTY_LIST,null,function(){

				$("#partyList >li").bind("tap",function(e) {
					$.mobile.showPageLoadingMsg("b", "loading...", true);
					
					var partyIdx =$(this).attr("data-messageId"); 
							e.preventDefault()
							$.stage.component.pageMove("partyInform.html",{"partyIdx":partyIdx});		
				});


				$(".orgListDate").each(function() {

					var orgDate = $(this).text();
					var UTCmilli = orgDate*1;
					var today = new Date(UTCmilli);
					var year = today.getYear()+1900;
					var month = today.getMonth()+1;
					var date = today.getDate();
					var day = today.getDay();
					var dayArr= new Array ("일", "월", "화", "수", "목", "금", "토");

					$(this).html("<strong>"+year+"년 "+month+"월 "+date+"일 "+dayArr[day]+"요일</strong>");
				}); 

		}, {autoLoad:false});
			
			
	});	
		function BlogBtu(){
			var currentLoginId = $.stage.component.getSession();
			if(currentLoginId == null)
				$.mobile.changePage("../session/login.html");
			$.stage.component.pageMove("../blog/blog.html",{userId:currentLoginId.userId});
		}
		
		
     </script>


	<header data-role="header" id="plHeader" data-position="fixed"
		data-tap-toggle="false">
		<h1>파티 리스트</h1>

	</header>

	<section data-role="content" class="content">

		<ul data-role="none" id="partyList">

		</ul>

	</section>

	<footer data-role="footer" id="footer" data-position="fixed"
		data-tap-toggle="false">
		<ul>
	   <li><a href="../talk/talkList.html" id="mainStalkButton"></a></li>
       <li onclick="BlogBtu()"><a href="#" id="mainBlogButton"></a></li>
       <li><a href="partyList.html" id="mainPartyButton"></a></li>
       <li><a href="#" id="mainLoungeButton"></a></li>
       <li><a href="#" id="mainSettingButton"></a>  </li>
		</ul>
</div>
</footer>
</div>


