<div data-role="page" id="searchFriend">
	<link rel="stylesheet" type="text/css" href="searchFriend.css">
	<script id="searchFriendTpl" type="text/x-jquery-tmpl">
	<li data-messageId="${idx}" id='talkItem_${idx}'>
		
		<img src="${thumnail}">			
				
		<div id='divSF'>
			<h3>${id}</h3>
			<p>${frontComment}</p>
		</div>
	</li>
	</script>

	<script type="text/javascript">
	$("#searchFriend").on("pageinit", function(){
		var params={};
		var paramss ={autoLoad:false};
		
		$('#button').bind("click",function (){
			$("#friendList").empty();
			params.idChunk = $('#name').val();
			$.stageComponent.listview("friendList","searchFriendTpl",$.stageRestPool.GET_USER_SEARCH,params,function(){
				$('#friendList > li').bind("tap",function(e){
			var talkIdx =$(this).attr("data-messageId");
			var userId = $(this).children("div").children("h3").text();
			e.preventDefault();
				$.stage.component.pageMove("../blog/blog.html",{userId:userId},true );		
		});
			},paramss);
		});
		
		// 아마 소스가 정렬이 안된것 같은데 미안하고, 내가 수정한 주요 요지 가 모냐면,
		// 이 tap 이벤트는 listview로 데이터를 가져온 다음 데이터를 처리하는 function중 하나로 추가해야 하는 코드야..
		// 이게 네가 준 소스에는 listview 밖에 있어서 초기화 될때, 이벤트가 생성이 안됬던 거거든.
		//그러니까 위치만 바꿨으니까, 소스 변경 없이 잘 될꺼야..안되면 얘기하고.				
		});		
		$("#backSF").bind("tap",function(e){
			e.preventDefault();
			$.mobile.changePage("talkList.html");
		});
		function BlogBtu(){
			var currentLoginId = $.stage.component.getSession();
			if(currentLoginId == null)
				$.mobile.changePage("../session/login.html");
			$.stage.component.pageMove("../blog/blog.html",{userId:currentLoginId.userId});
		}
     </script>

	<header data-role="header" id='header' data-position="fixed"
		data-tap-toggle="false">
		<h1>사람찾기</h1>
		<div id="backSF" class="ui-btn-left"></div>
		<div id="backBtnLine1" class="ui-btn-left"></div>
	</header>

	<section data-role="content" id='content'>
		<div id="containSF">
			<input type="text" id="name" />
			<div id="button"></div>
		</div>
		<ul data-role="none" id="friendList">
		</ul>
	</section>


	<footer data-role="footer" id="footer" data-theme="a"
		data-position="fixed" data-tap-toggle="false">
		<ul>
		<li><a href="../talk/talkList.html" id="mainStalkButton"></a></li>
        <li onclick="BlogBtu()"><a href="#" id="mainBlogButton"></a></li>
       <li><a href="../party/partyList.html" id="mainPartyButton"></a></li>
       <li><a href="#" id="mainLoungeButton"></a></li>
       <li><a href="#" id="mainSettingButton"></a>  </li>
		</ul>

	</footer>
</div>