
<div data-role="page" id="talkListPage">
<link rel = "stylesheet" type = "text/css" href="talkList.css">
	<script id="talkItemTpl" type="text/x-jquery-tmpl">
<li data-messageId="${idx}" id='talkItemd${idx}'>
	<img src="${thumnail}" id='thum' class='thum_img'>	
	<div id='arrow'>
	</div>	
	<div id='div1' class='content_txt'>
		<div id='div2'>
			<h3>${userId}</h3>			
			<img src="${imgUrl}"  id="talkImg">
			<h1 id='sCnt'>${subCount}</h1>
		</div>	
		<div class="ui-block-b" id= "div3">
			${comment}
		</div>
	</div>
</li>
	</script>

     <script type="text/javascript"> 
     	var Master;
		$("#talkListPage").on("pageinit", function(e){

			e.preventDefault();
			$.stageComponent.listview("talkList","talkItemTpl",$.stageRestPool.GET_TALK_LIST,null,function(){
				
				var h1s = $("#talkList >li").children("div").children('div').children('h1');
				
 				for(var i = 0 ; i < h1s.length ; i++)
				{
					if(h1s[i].innerHTML == 0){
	 					h1s[i].innerHTML = "";	 					
					}
				}
 				
				$("#talkList >li").each(function(){
					var path = $(this).children("#div1").children("#div2").children("#talkImg").attr("src");
					if(path!=""){
						$(this).children("div").children("div").children("#talkImg").attr("src","images/pic_icon.png");		
						$(this).children("div").children("div").children("#talkImg").attr("path",path);		
					}
					var scnt = $(this).children("#div1").children("#div2").children("#sCnt").text();
					if(scnt!="")
						$(this).children("div").children("div").children("#sCnt").css("background","url(images/reply_icon.png) no-repeat");
				});
				
				$(".thum_img").bind("tap",function(e){
					e.preventDefault();
					var userId =$(this).parent("li").children("div").children('div').children("h3").text();
					//alert(userId);
					$.stage.component.pageMove("../blog/blog.html",{userId:userId},true);
				});		
				
				$(".content_txt").bind("tap",function(e){
					e.preventDefault();
					
					var talkIdx =$(this).parent("li").attr("data-messageId");
					var userId =$(this).parent("li").children("div").children('div').children("h3").text();
					var thumnail =$(this).parent("li").children("img").attr("src");
					var subCount = $(this).parent("li").children("#div1").children("#div2").children("sCnt").text();
					var comment = $(this).parent("li").children("#div1").children("#div3").text();
					var imgUrl = $(this).parent("li").children("#div1").children("#div2").children("#talkImg").attr("path");		
					
					$.stage.component.pageMove("talkSubList.html",{
							talkIdx:talkIdx, userId:userId, 
							thumnail:thumnail, comment:comment,
							imgUrl:imgUrl, subCount:subCount
					},true);		
				
				});
				/*$("#talkList >li ").bind("tap",function(e){
					
					// ${이름} 과  변수명이 같아야 한다 그래야 tmpl 에서 알아서 찾아줌 
					var talkIdx =$(this).attr("data-messageId");
					var userId =$(this).children("div").children("div").children("h3").text();
					var thumnail =$(this).children("img").attr("src");
					var subCount = $(this).children("#div1").children("#div2").children("sCnt").text();
					var comment = $(this).children("#div1").children("#div3").text();
					var imgUrl = $(this).children("#div1").children("#div2").children("#talkImg").attr("path");		
					
					e.preventDefault();
					$.stage.component.pageMove("talkSubList.html",{
							talkIdx:talkIdx, userId:userId, 
							thumnail:thumnail, comment:comment,
							imgUrl:imgUrl, subCount:subCount
					},true);		
					
				});*/
			});
		});
		
		$("#write").click(function (e){
			var talkIdx =$(this).attr("data-messageId");
			var userId =$(this).children("div").children("h3").text();
			var thumnail =$(this).children("img").attr("src");
			var comment = $(this).children("div").children("div").text();
			
			e.preventDefault();
			$.stageComponent.pageMove("write.html",{talkIdx:talkIdx, userId:userId, thumnail:thumnail, comment:comment},true);
		});
		$("#find").click(function (e){
			e.preventDefault();
			$.mobile.changePage("searchFriend.html");
		});
     </script>
     
     
    <header data-role="header" id="header" data-position="fixed" data-tap-toggle="false">
        <h1>스테이지 톡</h1>
        <div id="find"  class="ui-btn-left"></div>
       	<div id="write" data-theme="e" class="ui-btn-right" ></div>
       	<div id="backBtnLine1" class="ui-btn-left"></div>
       	<div id="backBtnLine2" class="ui-btn-right"></div>
    </header>

    <section data-role="content" id="content">
		<ul  id="talkList">
		</ul>
    </section>

   <!--   <footer data-role="footer" data-theme="a" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<a href="talkList.html" data-role="button" data-icon="myapp-email" data-iconpos="top" id="mainTalkButton">톡톡</a>
			<a href="../party/partyList.html" data-role="button" id="mainClubButton">스테이지</a>
			<a href="lounge.html" data-role="button" id="mainLoungeButton">라운지</a>
			<a href="../blog/camera.html" data-role="button" id="mainBlogButton">블로그</a>	
			<a href="setting.html" data-role="button" id="mainSettingButton">셋팅</a>	
		</div>		
    </footer>  -->
    <footer data-role="footer" id="footer" data-theme="a" data-position="fixed" data-tap-toggle="false">
       <ul>
       <li><a href="../talk/talkList.html" id="mainStalkButton"></a></li>
       <li><a href="../blog/blog.html" id="mainBlogButton"></a></li>
       <li><a href="../party/partyList.html" id="mainPartyButton"></a></li>
       <li><a href="../blog/camera.html" id="mainLoungeButton"></a></li>
       <li><a href="../session/login.html" id="mainSettingButton"></a>  </li>
 	</ul>
    
     </footer>
</div>


