
<div data-role="page" id="userInfo">
	<link rel="stylesheet" type="text/css" href="footer.css" />
	<link rel="stylesheet" type="text/css" href="total.css" />
	<script id="userInfoTpl" type="text/x-jquery-tmpl">
	<div id="summary" idvalue="${id}" frontComment="${frontComment}">
		<div ><img id="image" src="${frontPhoto}"></div>
		<div id="profile">ID : ${id}<br><hr>최근 상태 <br> ${frontComment}</div>
	</div>
	<div id="detail">
		<span id="row"><p id="index">성  별 </p>  <p id="data" class="sex">${sex}</p></span>
		<span id="row"><p id="index">나  이 </p> 	<p id="data" class="age">${age}</p></span>
		<span id="row"><p id="index">직  업</p> 	<p id="data" class="work">${work}</p></span>
		<span id="row"><p id="index">관심사</p> <p id="data" class="lookingFor">${lookingFor}</p></span>
	</div>
	</script>
	
	<script type="text/javascript">
	var clickCount=0;
		$("#userInfo").on("pageinit", function(e){
			e.preventDefault();
			/* 페이지이동시 사용할 구문. userId도 넘겨야 함.
			var userId =$(this).children("h3").text(); //암기
			$.stage.component.pageMove("../blog/blog.html",{userId:userId});
			*/			
			//페이지 파라미터에서 id값 추출
			var currentLoginId = $.stage.component.getSession();
			var pageParams = $.stage.component.pageParam();
			var session = null;
			var state = null;
			var pageSessionId=null;
			
			if($.stage.component.hasSession()){ //세션을 가지고 있다면
				//세션값 추출
				session = $.stage.component.getSession();
				pageSessionId=session.userId;
				
				alert(session.userId + "<1>"+pageParams.userId);
				
				if(pageParams.userId == null)
					pageParams.userId = currentLoginId.userId;
				//비교 결과 가져오기
				alert(session.userId + "<2>"+pageParams.userId);
				
				if(pageParams.userId == session.userId){//세션id와 페이지 id가 같으면
					
					state = $.stageRestPool.MYSELF_RELATION;
					$("#dynamic").text("정보수정");
					$("#dynamic").bind("click",function (){
						//사용자의 정보수정 페이지로 이동 (미완)
						var userId = $("div[id='summary']").attr("idvalue");//아이디
						var frontPhoto = $("img").attr("src");//front 이미지
						var frontComment = $("div[id='summary']").attr("frontComment");//front 상태
						var sex = $("#data.sex").text();//성별
						var age = $("#data.age").text();//나이
						var work = $("#data.work").text();//직업
						var lookingFor = $("#data.lookingFor").text();//관심사
						$.stage.component.pageMove("../blog/modify.html",{userId:userId,frontPhoto:frontPhoto,frontComment:frontComment,sex:sex,
													age:age,work:work,lookingFor:lookingFor});
						
					});
				}else{//세션id와 페이지 id가 다르면
					var params = {};
					params.userId1 = session.userId;
					params.userId2 = pageParams.userId;
					$.stageAjax.getJson($.stageRestPool.USER1_RELATION_WITH_USER2,params,function(result){
						var infoData = result.data; 
						
						if((infoData == null)||(infoData.state == $.stageRestPool.NONE_RELATION)){//두 아이디가 관계가 없다면
							state = $.stageRestPool.NONE_RELATION;
						}else if(infoData.state == $.stageRestPool.DENY_RELATION){
							state = $.stageRestPool.DENY_RELATION;
						}else if(infoData.state == $.stageRestPool.REQUEST_RELATION){
							state = $.stageRestPool.REQUEST_RELATION;
						}else if(infoData.state == $.stageRestPool.FRIEND_RELATION){
							state = $.stageRestPool.FRIEND_RELATION;
						}else if(infoData.state == $.stageRestPool.BLOCK_RELATION){
							state = $.stageRestPool.BLOCK_RELATION;
						}
						/////////////////////
						
						switch(state){
							case $.stageRestPool.MYSELF_RELATION : // 내 자신인 경우
								break;
							case $.stageRestPool.FRIEND_RELATION : //친구일 경우
							case $.stageRestPool.REQUEST_RELATION : //친구 요청만 들어간 경우
								$("#dynamic").hide();
								break;
							case $.stageRestPool.DENY_RELATION : //친구 요청이 거절된 경우
							case $.stageRestPool.NONE_RELATION : //아무 관계가 없을 경우
								$("#dynamic").text("친구요청");
								$("#dynamic").bind("click",function (){
									var relation = confirm('친구 요청을 하시겠습니까?');
									if(relation){
										//파라미터 생성
										var params = {};
										params.fromId = session.userId;
										params.toId = pageParams.userId;
										//친구 요청을 yes 하면, post로 request로 변환하는 함수 날릴것.
										$.stage.ajax.postJson($.stageRestPool.POST_USER_RELATION_SET_STATE+$.stageRestPool.REQUEST_RELATION,params,function(result){
											var infoData = result.data;
											if(infoData == -1){
												alert('요청과정 중 오류가 발생하였습니다.');
											}else{
												//요청이 처리됨을 알림
												alert('요청이 처리되었습니다.');
												// 요청버튼을 삭제
												$("#dynamic").hide();
											}
										},true);
									}
								});
								break;
							case $.stageRestPool.BLOCK_RELATION : break;//블락된 상태일 경우(사용안함)
						}
					},true);
						
				}
				
			}else{//세션이 없다면 로그인 창 출력...
				$("#dynamic").text("친구요청");
				$("#dynamic").bind("click",function (){
					//기능은 로그인 페이지로 이동
					$.stage.component.pageMove("../session/login.html");
				});
			}
			//페이지 id값에서 정보 가져오기
			$.stageComponent.infoview("userInfoList","userInfoTpl",$.stageRestPool.GET_USER_INFORM,pageParams,function(){
			});
			
			//아래 부분은 모든 페이지에 삽입요망
			$("a#mainBlogButton").bind("click",function (){
				if($.stage.component.hasSession()){ //세션을 가지고 있다면
					session = $.stage.component.getSession();//세션값 추출
					var userId = {userId:session.userId};
					localStorage.setItem("pageParams",JSON.stringify(userId));//pageParams에 나의 session 값 저장
					window.location.reload(true);//현재 자신의 페이지를 다시 부르기 위한 구문
					//$.stage.component.pageMove("../blog/blog.html");//다른 페이지로 이동하기 위한 구문
				}else{//세션이 없다면,로그인 페이지로 이동
					$.stage.component.pageMove("../session/login.html");
				}
				
			});
		$("#edit").click(function(e) {
				e.preventDefault();
				$.stageComponent.pageMove("cameraEdit.html",{userId:pageParams.userId});
		});
		$("#user").live("click",function(e){
			e.preventDefault();
			$.stageComponent.pageMove("blog.html",{userId:pageParams.userId});
        });
		$("#ablum").live("click",function(e){
			e.preventDefault();
			$.stageComponent.pageMove("camera.html",{userId:pageParams.userId});
        });
		$("#wall").live("click",function(e){
			e.preventDefault();
			$.stageComponent.pageMove("wall.html",{userId:pageParams.userId});
        });
		
		$("#fri_list").live("click",function(e){
			e.preventDefault();
			$.stageComponent.pageMove("userFriendlist.html",{userId:pageParams.userId});
        });
		
		$("#category").bind("click",function(e){
			//$.stageComponent.pageMove("wall.html",{userId:pageParams.userId});
			e.preventDefault();
			if(clickCount%2==0){
				$(".overlay").show();
				clickCount++;
			}	
			else{
				$(".overlay").hide();
				clickCount++;
			}	
        });

		});	//init 함수의 끝	

     </script>

 	<header data-role="header" id="header" data-position="fixed" data-tap-toggle="false">
        <h1>블로그</h1>
        <div id="category" class="ui-btn-right">
       <!--  
   		<form id="listForm" method="post" action="#">
					<div data-role="fieldcontain">
						<select id="list" name="list" data-native-menu="false" data-inline="true" data-iconpos="notext">
							<option value="개인정보">개인 정보</option>
							<option value="앨범">앨범</option>
							<option value="담벼락" selected>담벼락</option>
							<option value="친구목록">친구 목록</option>
						</select>
					</div>
		</form> 
			 -->	
			
        </div>
    </header>
    
    <section data-role="content">
		<span id="userInfoList">
		</span>
		<a id="dynamic" data-role="button" ></a>
    </section>
    
    <div class="overlay" style="display: none">
		<div class="overlay-content">
			<ul id='tas_list' data-role='listview'>
				<li id="user">개인 정보</li>
				<li id="ablum">앨범</li>
				<li id="wall">담벼락</li>
				<li id="fri_list">친구 목록</li>
			</ul>
		</div>
	</div>
	
    <footer data-role="footer" id="footer" data-theme="a" data-position="fixed" data-tap-toggle="false">
       <ul>
       <li><a href="../talk/talkList.html" id="mainStalkButton"></a></li>
       <li><a href="../blog/blog.html" id="mainBlogButton"></a></li>
       <li><a href="../party/partyList.html" id="mainPartyButton"></a></li>
       <li><a href="../blog/blog.html" id="mainLoungeButton"></a></li>
       <li><a href="../session/login.html" id="mainSettingButton"></a>  </li>
 		</ul>
    
     </footer>
</div>