
<div data-role="page" id="userModify">
	<link rel="stylesheet" type="text/css" href="footer.css" />
	<link rel="stylesheet" type="text/css" href="total.css" />
	<script id="userModifyTpl" type="text/x-jquery-tmpl">
	<div id="summary">
		<div ><img id="image" class="p_img" src="${frontPhoto}"></div>
		<div id="profile">ID : ${userId}<br><hr>최근 상태 <br>
						 <textarea cols="24%" rows="4" name="textarea" id="frontComment" value="${frontComment}" data-mini="true" /></div>
	</div>
	<div id="detail">
		<span id="row"><p id="index">성  별 </p>  <p id="data">${sex}</p></span>
		<span id="row"><p id="index">나  이 </p> 	<p id="data"><input type="text" name="name" id="age" value="${age}" data-mini="true" /></p></span>
		<span id="row"><p id="index">직  업</p> 	<p id="data"><input type="text" name="name" id="work" value="${work}" data-mini="true" /></p></span>
		<span id="row"><p id="index">관심사</p> <p id="data"><input type="text" name="name" id="lookingFor" value="${lookingFor}" data-mini="true" /></p></span>
	</div>
	</script>

	<script type="text/javascript">
		$("#userModify").on("pageinit", function(e){
			e.preventDefault();
			//페이지 파라미터에서 id값 추출
			var pageParams = $.stage.component.pageParam();
			//템플릿 적용
			var info = $('#userModifyList');
			
			var profile_img = pageParams.frontPhoto;
			
			$('#userModifyTpl').tmpl(pageParams).appendTo(info);

			$("#frontComment").html(pageParams.frontComment);
		
			$(".p_img").bind("click",function (e){
				getImageFile();
			});
			
			//정보 수정 클릭시 이벤트
			$("a#dynamic").bind("click",function (e){
				e.preventDefault();
				var params = {};
				params.id = pageParams.userId;
				params.thumnail = profile_img; //수정하기
				params.frontPhoto = profile_img;
				params.frontComment = $('#frontComment').val();
				params.age = $('#age').val();
				params.work = $('#work').val();
				params.lookingFor = $('#lookingFor').val();
				
				$.stageAjax.postJson($.stageRestPool.POST_USER_INFORM_MODIFY,params,function(result){
					var data = result.data;
					if(data ==-1){
						alert('수정에 실패하였습니다.');
					}else{
						alert('수정에 성공하였습니다.');
						$.stage.component.pageMove("../blog/blog.html");
					}
					
				},true);
			});
		
			$("#back").click(function(e) {
				e.preventDefault();
				parent.history.back(); 
			});
			
			$(document).bind("flickrUploadFinish", function() {
				profile_img = FI.thumbnailUrl;

				$(".p_img").attr('src',profile_img);

				//alert(profile_img);
				$.mobile.hidePageLoadingMsg();
				/*
					userId : currentLoginId.userId,
					photoUrl : FI.photoURL,
					thumnail : FI.thumbnailUrl
				*/
			});
			
		});		
		
		function getImageFile() {
			$(this).unbind('click'); // 중복클릭 막기.
			$(this).unbind('click'); // 중복클릭 막기.
			navigator.camera.getPicture(function(URI) {
				FI.imageURI = URI;
				proc();
				$.mobile.showPageLoadingMsg("b", "loading...", true);
				
			}, function(message) {
				FI.imageURI = "";
				FI.photoURL = "";
				FI.frob = "";
			}, {
				quality : 50,
				destinationType : navigator.camera.DestinationType.FILE_URI,
				sourceType : navigator.camera.PictureSourceType.PHOTOLIBRARY
			});
		}
		
     </script>

	<header data-role="header" id="header" data-position="fixed"
		data-tap-toggle="false">
		<div id="back" class="ui-btn-left"></div>
		<h1>블로그</h1>
	<!-- <div id="category" class="ui-btn-right"></div> -->	
	</header>

	<section data-role="content">
		<span id="userModifyList"> </span> <a id="dynamic" data-role="button">수정하기</a>
	</section>

	<footer data-role="footer" id="footer" data-theme="a"
		data-position="fixed" data-tap-toggle="false">
		<ul>
			<li><a href="../talk/talkList.html" id="mainStalkButton"></a></li>
			<li><a href="blog.html" id="mainBlogButton"></a></li>
			<li><a href="../party/partyList.html" id="mainPartyButton"></a></li>
			<li><a href="camera.html" id="mainLoungeButton"></a></li>
			<li><a href="wall.html" id="mainSettingButton"></a></li>
		</ul>

	</footer>
</div>