<meta charset="UTF-8">
<div data-role="page" id="userFriend">
	<link rel="stylesheet" type="text/css" href="userFriendlist.css" />
	<script id="userFriendTpl" type="text/x-jquery-tmpl">
	<li data-messageId="${idx}" friendId="${otherId}" id='talkItem_${idx}'>
		<h3>${otherId}</h3>
		<img src="${otherThumnail}">
		<div class="ui-li-aside">
			<p><strong>${regDate}</strong></p>
		</div>
			<p>${otherSex}</p>
			<p>${otherFrontComment}</p>

		<input type="button" class= ${state} value=" " id="testbtu">
	</li>
	</script>

	<script type="text/javascript">
		var sessionId;
		var clickCount =0;
		$("#userFriend").on("pageinit", function(e) {
			e.preventDefault();
			var params = {};
			
			var pageParams = $.stageComponent.pageParam();
			var currentLoginId = $.stage.component.getSession();
			if(pageParams.userId == null)
				pageParams.userId = currentLoginId.userId;
			//params.userId = $('#name').val();
			params.userId = pageParams.userId;
			sessionId = pageParams.userId;

			$("#id_header").html("@" + sessionId);
			
			getFriendList(params.userId);
			 
			$("#back").live("click",function(e){
				e.preventDefault();
				parent.history.back();
			});
			
			$("#user").live("click",function(e){
				e.preventDefault();
				$.stageComponent.pageMove("blog.html",{}, currentLoginId.userId);
	        });
			$("#ablum").live("click",function(e){
				e.preventDefault();
				$.stageComponent.pageMove("camera.html",{}, currentLoginId.userId);
	        });
			$("#wall").live("click",function(e){
				e.preventDefault();
				$.stageComponent.pageMove("wall.html",{}, currentLoginId.userId);
	        });
			$("#fri_list").live("click",function(e){
				e.preventDefault();
				$.stageComponent.pageMove("userFriendlist.html",{userId:pageParams.userId});
	        });
			$("#list").live("tap",function(e){
				e.preventDefault();
				if(clickCount%2==0){
					$(".overlay").show();
					clickCount++;
				}	
				else{
					$(".overlay").hide();
					clickCount++;
				}
	        });
			
		});
		function moveImg(id){
			$.stage.component.pageMove("../blog/blog.html",{userId:id},true);
		}
		function reject_friend(id){
			
			var answer = confirm('거절하시겠습니까?');
			var url = $.stageRestPool.POST_USER_RELATION_SET_STATE;
			
			var params ={
		  			fromId: id,
		  			toId: sessionId
			}; 
			
			if(answer == true)
			{
				url+= $.stageRestPool.DENY_RELATION;
				$.stage.ajax.postJson(url, params, function(data) {
					alert("거절되었습니다");
					$("#request").empty();
					$("#friend").empty();
					getFriendList(sessionId);
				});
			}
		}
		function add_friend(id){
			var answer = confirm('승낙 하시겠습니까?');
			var url = $.stageRestPool.POST_USER_RELATION_SET_STATE;
			
			var params ={
		  			fromId: id,
		  			toId: sessionId
			}; 
			
			if(answer == true)
			{
				url+= $.stageRestPool.FRIEND_RELATION;
				$.stage.ajax.postJson(url, params, function(data) {
					alert("추가되었습니다");
					$("#request").empty();
					$("#friend").empty();
					getFriendList(sessionId);
				});
			}
		}
		function delete_friend(id){
			var answer = confirm('친구 삭제하시겠습니까?');
			var url = $.stageRestPool.POST_USER_RELATION_SET_STATE;
			
			var params ={
		  			fromId: id,
		  			toId: sessionId
			}; 
			
			if(answer == true)
			{
				url+= $.stageRestPool.NONE_RELATION;
				$.stage.ajax.postJson(url, params, function(data) {
					alert("삭제되었습니다");
					$("#request").empty();
					$("#friend").empty();
					getFriendList(sessionId);
				});
			}
		}
		function getFriendList(id) {
			var url = $.stageRestPool.USER_FRIEND_LIST;
			var currentLoginId = $.stage.component.getSession();
			var params = {
				userId : id
			};

			$.stageAjax.getJson(url, params, function(result) {
				var a = 0;
				while (result.list[a] != null) {
					var img_src = result.list[a].otherThumnail;
					var comment = result.list[a].otherFrontComment;
					if (img_src == null)
						img_src = "gravatar.jpg";
					if(comment == null)
						comment=" ";
					
					if (result.list[a].state == 'R') {
						
						$("<div class='others'>").appendTo("#request").html('<div id="others_text"><font id="ID">'
										+ result.list[a].otherId
										+ '</font><br/><font>'
										+ comment
										+'</font><div class="reject_img" id="rej_img"><img src="cssimage/delete_btu.png" onclick="reject_friend(id)" class="reject_fri" id='+result.list[a].otherId+'></div>'
										+'<div class="add_img" id="plus_img"><img src="cssimage/chinchu_btn.png" onclick="add_friend(id)" class="add_fri" id='+result.list[a].otherId+'></div>'
										+ '</div><img src='+ img_src+' class="others_img" id='+result.list[a].otherId+' onclick="moveImg(id)">');

					} else if (result.list[a].state == 'F') {
						
						if(currentLoginId.userId != sessionId){
							$("<div class='others'>").appendTo("#friend")
							.html('<div id="others_text"><font id="ID">'
											+ result.list[a].otherId
											+ '</font><br/><font>'
											+ comment
											+'</font>'	
											+ '</div><img src='+ img_src+' class="others_img" id='+result.list[a].otherId+' onclick="moveImg(id)">');
						}else{
							$("<div class='others'>").appendTo("#friend")
							.html('<div id="others_text"><font id="ID">'
											+ result.list[a].otherId
											+ '</font><br/><font>'
											+ comment
											+'</font><div class="delete_img"><img src="cssimage/delete_btu.png" onclick="delete_friend(id)" class="delete_fri" id='+result.list[a].otherId+'></div>'	
											+ '</div><img src='+ img_src+' class="others_img" id='+result.list[a].otherId+' onclick="moveImg(id)">');
						}
					
					}
					a++;
				}
				
			});
			
			if(currentLoginId.userId!= sessionId){
				$("#req_title").hide();
				$("#request").hide();
				
			}
		}
	</script>

	<header data-role="header" data-position="fixed"
		data-tap-toggle="false" id="header">
		<div id="back" class="ui-btn-left">
			<img src="cssimage/back_btn.png">
			<div id="line_left"></div>
		</div>
		<h1>친구 리스트</h1>
		<div id="list" class="ui-btn-right">
			<div id="line_right"></div>
			<img src="cssimage/category_btn.png">
		</div>
	</header>

	<div id="id_header"></div>

	<section data-role="content" id="content">

		<div id="req_title">Request Friends List</div>
		<div id="request"></div>

		<div id="fri_title">Friends List</div>
		<div id="friend"></div>

	</section>
	<div class="overlay" style="display: none">
		<div class="overlay-content">
			<ul id='tas_list' data-role='listview'>
				<li id="user">개인 정보</li>
				<li id="ablum">앨범</li>
				<li id="wall">담벼락</li>
				<li id="fri_list">친구 목록</li>
			</ul>
		</div>
	</div>

	<footer data-role="footer" id="footer" data-position="fixed"
		data-tap-toggle="false">
		<ul>
			<li><a href="../talk/talkList.html" id="mainStalkButton"></a></li>
			<li><a href="blog.html" id="mainBlogButton"></a></li>
			<li><a href="../party/partyList.html" id="mainPartyButton"></a></li>
			<li><a href="camera.html" id="mainLoungeButton"></a></li>
			<li><a href="../session/login.html" id="mainSettingButton"></a></li>
		</ul>

	</footer>
</div>