@CHARSET "EUC-KR";
#userFriend
{
	background-image: url(cssimage/back_bg.png);
}
#header 
{
	text-align:center;
	height: 10%;
	background-image: url(cssimage/header_bg.png);
	margin: 0;
}

#header h1
{
	font-size: 23px;
	text-align: center;
}

#content
{
		margin: 0;
		padding: 0;
}
#id_header {
	text-align: center;
	background-color: gray;
	opacity: 0.6;
	margin: 0;
	width: 100%;
	font-size: 25px;
	color: black;
}
#req_title{
	width:96%;
	text-align: left;
	background-color: #87ceeb;
	opacity: 0.6;
	margin: 0;
	margin-left:1.5%;
	margin-top:5px;
	padding-left:1.5%;
	font-size: 20px;
	font-weight:bold;
	color: black;
	border-radius: 6px;
}
#fri_title{
	width:96%;
	text-align: left;
	background-color: #87ceeb;
	opacity: 0.6;
	margin: 0;
	margin-left:1.5%;
	padding-left:1.5%;
	font-size: 20px;
	font-weight:bold;
	color: black;
	border-radius: 6px;
}
.others {
	overflow: auto;
	width:95%;
	height: 14%;
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left:2.5%;
	background-color: #CAC9C9;
	border-radius: 6px;
}

#others_text {
	margin: 2%;
	margin-top: 2.3%;
	margin-right: 2%;
	padding: 2%;
	width: 65%;
	text-align: left;
	float: right;
	background-color: #EAEAEA;
	opacity: 0.6;
	border-radius: 6px;
}

#others_text font {
	opacity: 1;
}

#others_img {

	width:73px;
	height:73px;
	margin:0;
	margin-top: 2.3%;
	margin-left:2%;
	border-radius: 6px;
}

.add_fri{
	float: right;
	margin-right:2%;
	width: 13%;
	box-shadow: 1px 1px 1px #878787;
	-moz-box-shadow: 1px 1px 1px #878787;
	-webkit-box-shadow: 1px 1px 1px #878787;
}
.reject_fri{
	float: right;
	width: 13%;
	box-shadow: 1px 1px 1px #878787;
	-moz-box-shadow: 1px 1px 1px #878787;
	-webkit-box-shadow: 1px 1px 1px #878787;
}
.delete_fri{
	float: right;
	width: 13%;
	box-shadow: 1px 1px 1px #878787;
	-moz-box-shadow: 1px 1px 1px #878787;
	-webkit-box-shadow: 1px 1px 1px #878787;
}
#request {
	margin-bottom: 20px;
}

#footer {
	background-image: url(cssimage/header_bg.png);
	height: 11%;
}

#footer ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#footer ul li {
	height: 100%;
}

#footer ul li #mainStalkButton {
	background: url(cssimage/stalk_icon.png) 50% 50% no-repeat;
	width: 64px;
	height: 55px;
	float: left;
	background-size: 92%;
}

#footer ul li #mainStalkButton:hover {
	background: url(cssimage/tap_stalk_icon.png) 50% 50% no-repeat;
}

#footer ul li #mainBlogButton {
	background: url(cssimage/blog_icon.png) 50% 50% no-repeat;
	width: 64px;
	height: 55px;
	float: left;
	background-size: 92%;
}

#footer ul li #mainBlogButton:hover {
	background: url(cssimage/tap_blog_icon.png) 50% 50% no-repeat;
}

#footer ul li #mainPartyButton {
	background: url(cssimage/party_icon.png) 50% 50% no-repeat;
	width: 64px;
	height: 55px;
	float: left;
	background-size: 92%;
}

#footer ul li #mainPartyButton:hover {
	background: url(cssimage/tap_party_icon.png) 50% 50% no-repeat;
}

#footer ul li #mainLoungeButton {
	background: url(cssimage/lounge_icon.png) 50% 50% no-repeat;
	width: 64px;
	height: 55px;
	float: left;
	background-size: 92%;
}

#footer ul li #mainLoungeButton:hover {
	background: url(cssimage/tap_lounge_icon.png) 50% 50% no-repeat;
}

#footer ul li #mainSettingButton {
	background: url(cssimage/setting_icon.png) 50% 50% no-repeat;
	width: 64px;
	height: 55px;
	float: left;
	background-size: 92%;
}

#footer ul li #mainSettingButton:hover {
	background: url(cssimage/tap_setting_icon.png) 50% 50% no-repeat;
}
#back {
	shadow: false;
	margin: 0;
	padding:0;
	margin-top:3.5%;
	border: none;
	width: 17%;
	height: 100%;
}
#line_left {
	padding: 0;
	margin: 0;
	height: 90%;
	width: 5%;
	float: right;
	background-image: url(cssimage/header_line.png);
}
#back img{
	margin-top: 20%;
	width:35%;
	height: 50%;
	border-radius: 0;
	margin-right: 10%;
}
font{
	font-weight:bold;
}
#ID{
	font-weight:bold;
	font-size: 19px;
	color: #6e1515;
}
.overlay {
	width: 35%;
	position: absolute;
	top: 17%;
	left: 60%;
	border-radius: 5px;
	background: #8b0000;
	z-index: 1501;
	padding: 3px 5px 5px 5px;
}

#tas_list li{
	font-size: 18px;
	background-color: #ffa07a;	
}
